:root {
  --toggle-width: 160px;
  --toggle-height: 24px;
  /* blue gray */
  --c50: #f0f4f8;
  --c100: #d9e2ec;
  --c200: #bcccdc;
  --c300: #9fb3c8;
  --c400: #829ab1;
  --c500: #627d98;
  --c600: #486581;
  --c700: #334e68;
  --c800: #243b53;
  --c900: #102843;
  --bg-color: #1d2025;
  --highlight: #aaec95;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--c200);
  background-color: var(--bg-color);
  font-family: "Inter", sans-serif;
  font-weight: 200;
}

h1,
h2,
h3 {
  font-family: "Inter", sans-serif;
  font-weight: 200;
}

main {
  display: flex;
  flex-direction: column;
  background-color: var(--c800);
}

#mainCanvas {
  width: 100%;
  max-height: 88vh;
}

.controls {
  display: grid;
  grid-template-columns: 1fr 2rem;
  grid-auto-rows: min-content;
  justify-content: start;

  column-gap: 1rem;
  row-gap: 0.5rem;

  background-color: var(--c800);
  font-size: 14px;
  padding: 1rem;
}

label {
  grid-column-end: span 2;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: var(--c500);
  border-radius: 6px;
  height: 0.5rem;
}

input[type="range"]::-moz-range-track {
  background: var(--c500);
  border-radius: 6px;
  height: 0.5rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -4px; /* Centers thumb on the track */
  background-color: var(--c200);
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
  border: none;
  background-color: var(--c200);
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 2px solid var(--bg-color);
}

input[type="range"]::-moz-range-progress {
  background-color: red;
  background: var(--highlight);
}

.switch {
  grid-column: 1 / span 2;
  justify-self: start;

  display: grid;
  grid-template-columns: 80px repeat(2, 1fr);
  row-gap: 8px;
  column-gap: 1rem;
  justify-items: center;
  align-items: center;
  font-size: 10px;
}

.switch > * {
  grid-row: 1 / span 1;
}

/* switch description */
.switch span {
  grid-column: 1 / span 1;
  justify-self: start;
  font-size: 1rem;
}

/* left value */
.switch label {
  grid-column: 2 / span 1;
  color: var(--c100);
  z-index: 1;
  user-select: none;
}

/* right value  */
.switch.new::after {
  content: "New";
}

.switch.circles::after {
  content: "Circles";
}

.switch::after {
  grid-row: 1 / span 1;
  grid-column: 3 / span 1;
  z-index: 1;
  color: var(--c100);
  pointer-events: none;
  user-select: none;
}

/* switch track */
.switch input[type="checkbox"] {
  grid-column: 2 / span 2;
  appearance: none;
  width: var(--toggle-width);
  height: var(--toggle-height);
  border-radius: var(--toggle-height);
  background-color: var(--c500);
  position: relative;
}

.switch input[type="checkbox"]:checked ~ label {
  color: var(--highlight);
}

/* switch knob */
.switch input[type="checkbox"]::before {
  content: "";
  display: block;
  width: calc(var(--toggle-width) / 2);
  height: var(--toggle-height);
  position: absolute;
  top: 0;
  right: 0;
  border-radius: var(--toggle-height);
  background-color: var(--c700);
  transition: transform 200ms ease-in;
}

.switch input[type="checkbox"]:checked::before {
  background-color: var(--c900);
  transform: translateX(calc(0px - var(--toggle-width) + var(--toggle-width) / 2));
}

@media (min-width: 600px) {
  main {
    flex-direction: row;
  }

  #mainCanvas {
    flex: 1 1 70%;
  }

  .controls {
    flex: 0 1 30%;
    max-width: 360px;
  }
}
